@import 'functions';
@import 'mixins';

$theme: 'minima';

$breakpoints: (
    xs: 499px,
    sm: 500px,
    md: 700px,
    lg: 900px,
    xl: 1200px,
    xxl: 1280px
);

// Based on Google's Material UI, while this is far from a be-all, end-all solution, it's a start. Colour systems vary heavily per project, as some might mix and match light/dark, meaning the colours must be interchangable.
// https://material.io/design/color/the-color-system.html#color-usage-and-palettes
$colors: (

    // Shades
	grey-000: #1E2227,
	grey-100: #272D33,
	grey-200: #363A42,
	grey-300: #7F8091,
	grey-400: #AAB2C7,
    grey-500: #E9ECF4,
	white: #FFFFFF,
	black: #000000,
	primary: #F97200,
	secondary: #99A29E,

    // Specific
    title: #FFFFFF,
    body: #CCCCCC,
    link: #FFFFFF,
    background: #1A1A1A,
    danger: red,
    warning: orange,
    success: green,
);

$headings: (
    h1: 2.125rem,
    h2: 1.750rem,
    h3: 1.500rem,
    h4: 1.375rem,
    h5: 1.250rem,
    h6: 1.125rem
);

$property: (
	navigation: 4.5rem,
    container: nth(map-values($breakpoints), -2),
    spacer-xs: 0.25rem,
    spacer-sm: 0.5rem,
    spacer-md: 1rem,
    spacer-lg: 2rem,
    spacer-xl: 4rem,
    spacer-xxl: 8rem,
    radius-inner: 0.25rem,
    radius-outer: 0.5rem,
    transition: 80ms ease,
    container-padding: 7.5vw,
    layer-background: -1,
    layer-base: 1,
    layer-sticky: 2,
    layer-fixed: 3,
    layer-backdrop: 4,
    layer-modal: 5,
    layer-popup: 6,
    layer-tooltip: 7,
    line-height-heading: 1.2,
    line-height-base: 1.4,
);

$fonts: (
    heading: (
        optimal: 'untitled_sansbold',
        fallback: ('Gotham', 'Helvetica', 'Arial'),
        type: sans-serif
    ),
    body: (
        optimal: 'untitled_sansregular',
        fallback: ('Gotham', 'Helvetica', 'Arial'),
        type: sans-serif
    )
);