@import '../../assets/css/base';

article {
    position: relative;

    // * {
    //     hyphens: none;
    // }

    :where(h1, h2, h3, h4, h5, h6) a:hover {
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: color(title);
        margin-top: unset;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: property(spacer-lg);
    }

    p {
        margin-bottom: property(spacer-md);

        a {
            text-decoration: underline;
        }
    }

    b,
    strong {
        font-weight: bold;
    }

    > ul,
    > ol,
    > picture,
    > table,
    > figure,
    > blockquote,
    > iframe,
    > img,
    > table,
    > hr,
    > section {
        margin: {
            top: property(spacer-lg);
            bottom: property(spacer-lg);
        }
    }

    hr {
        border-color: color(grey-200);
        border-width: 1px;
        border-style: solid;
    }

    a {
        color: color(link);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            color: color(primary);
        }
    }

    figure {
        margin: {
            left: unset;
            right: unset;
        }

        // picture {
        //     width: 100vw;
        //     transform: translateX(calc(-1 * property(spacer-lg)));
        // }
    }

    figcaption {
        margin-top: property(spacer-md);
        font-size: 0.875rem;
    }

    blockquote {
        color: color(primary);
        border-left: property(spacer-xs) solid color(primary);
        padding-left: property(spacer-lg);
        margin: {
            left: unset;
            right: property(spacer-lg);
        }
    
        p {
            font-size: 1.25rem;
            margin-bottom: property(spacer-sm);
            font-weight: 500;
    
            &:first-of-type:before {
                content: '\201C';
            }
        
            &:last-of-type:after {
                content: '\201D';
            }
        }
    
        cite {
            color: color(white);
        }
    
        a {
            text-decoration: underline;
        }
    }

    ul,
    ol {
        padding-left: 2ch; // 2 Characters
        @include grid(property(spacer-md));

        li {
            position: relative;

            > ul,
            > ol {
                padding-left: property(spacer-md);
                margin-top: property(spacer-md);
            }
        }
    }

    table {
        text-align: left;
        border-collapse: collapse;
        border: 1px solid color(grey-200);

        th,
        td {
            padding: property(spacer-md);
            vertical-align: top;

            &:not(:last-of-type) {
                border-right: 1px solid color(grey-200);
            }
        }

        tr {
            border-bottom: 1px solid color(grey-200);
        }
    }

    picture {
        position: relative;
    }
}

section.container {
    @include grid(property(spacer-lg));
    padding: {
        top: property(spacer-lg);
        bottom: property(spacer-lg);
    }

    @include breakpoint-up(lg) {
        grid-template-columns: 6fr 2fr;
    }

    > section {
        grid-column: 1/-1;
    }

    > main {

    }

    > aside {
        background: rgba(white, 0.05);

        @include breakpoint-down(lg) {
            @include hidden;
        }
    }
}

.dek {
    font-size: 1.125rem;
}

.row {
    @include flex(row, flex-start, center, property(spacer-md));
    flex-wrap: wrap;
}


:where(h1, h2, h3, h4, h5, h6) {
    
    a {
        color: currentColor;
        text-decoration: none;
        position: relative;

        // &:hover:before {
        //     opacity: 1;
        // }

        // &:before {
        //     content: '\0023';
        //     position: absolute;
        //     left: calc(-1 * #{property(spacer-xs)});
        //     top: 50%;
        //     transform: translate(-100%, -50%);
        //     font-size: 1.5rem;
        //     opacity: 0;
        // }
    }
}

.table {
    overflow-x: scroll;
    position: relative;
    
    @include breakpoint-down(sm) {
        border-right: 1px solid color(grey-200);
        max-width: calc(100vw - (2 * 7.5vw));

        table {
            min-width: 150vw;
            border-right: unset;
        }
    }
}

.related {
    @include grid(property(spacer-md));
    grid-template-columns: 1fr min(25vw, property(spacer-xl));
    // padding: property(spacer-sm);
    // border: 1px solid color(grey-000);
    align-items: flex-start;

    &__picture {
        aspect-ratio: 1/1;
        position: relative;

        img,
        source {
            @include image-fill;
        }
    }

    &__title {
        margin: unset;
        font-size: 1.125rem;
        @include grid(unset);
    }
}

article {
    background-color: color(background);
    margin: {
        // top: #{"calc(100vw * (9 / 16))"};
        bottom: property(spacer-xl);
    }
    padding: {
        top: property(container-padding);
    }
    border-top-left-radius: property(spacer-sm);
    border-top-right-radius: property(spacer-sm);

    // Gradient stickied to the bottom of an article, for demo purposes
    // &:after {
    //     width: 120%;
    //     height: 10vh;
    //     content: '';
    //     position: sticky;
    //     display: inline-flex;
    //     transform: translateX(-10%);
    //     bottom: 0;
    //     $fill: color(background, true);
    //     background: linear-gradient(0deg, rgba($fill, 1) 0%, rgba($fill, 0) 100%); 
    // }
}

.meta {
    margin-top: unset;
}

#nav {
    width: 100%;
    height: 3rem;
    background-color: grey;
    top: 0;
    position: fixed;
    z-index: 9;
}