@mixin theme($theme) {
    @if $theme == dark {
        @media only screen and (prefers-color-scheme: dark) {
            @content;
        }
    }
    @else if $theme == light {
        @media only screen and (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
            @content;
        }
    }
    @else {
        @error 'Theme \'#{$theme}\' is invalid or not defined';
    }
}

@mixin grid($gap) {
    display: grid;
    grid-gap: $gap;
    gap: $gap;
}

@mixin flex($direction, $justify, $align, $gap: property(gap)) {
    display: flex;
    flex-shrink: 0;

    @if $direction {
        flex-direction: $direction;
    }

    @if $justify {
        justify-content: $justify;
    }

    @if $align {
        align-items: $align;
    }

    @if $gap {
        gap: $gap;
    }
}