.button {
    @include flex(row, center, center, property(spacer-xs));
    // padding: property(spacer-sm) calc(#{property(spacer-sm)} + #{property(spacer-xs)});
    padding: 0.78125rem;
    border: unset;
    transition: property(transition);
    border: 1px solid transparent;
    cursor: pointer;

    @each $key, $value in $buttons {
        $color: map-get($value, color);
        $border: map-get($value, border);
        $background: map-get($value, background);

        svg {
            @extend .icon;
        }

        &--#{$key} {
            color:$color;
            background-color: $background;

            &:focus {
                $focus: map-get($value, focus);
                $outline: map-get($focus, outline);
                outline: 2px solid $outline;
                outline-offset: 2px;
            }

            // @if $border {
            //     border-color:$border;
            // }
            // @else {
            //     border-color:$background;
            // }
            
            // Hover state
            // &:hover {
            //     @if map-get($value, hover) {
            //         $hover: map-get($value, hover);
            //         $hover-color: map-get($hover, color);
            //         $hover-border: map-get($hover, border);
            //         $hover-background: map-get($hover, background);
            //         color: $hover-color;
            //         background-color: $hover-background;
            //         @if $border {
            //             border-color: $hover-border;
            //         }
            //         @else {
            //             border-color: $hover-background;
            //         }
            //     }
            // }

            // Focus state
            // &:focus {
            //     outline-offset: 2px;
            //     @if map-get($value, focus) {
            //         $outline: map-get($value, outline);
            //         outline: 2px solid $outline;
            //     }
            //     @else {
            //     }
            // }

            // Disabled state
            // @if map-get($value, disabled) {
            //     $disabled: map-get($value, disabled);
            //     $disabled-color: map-get($disabled, color);
            //     $disabled-border: map-get($disabled, border);
            //     $disabled-background: map-get($disabled, background);
            //     
            //     &:disabled,
            //     &--disabled {
            //         color: $disabled-color;
            //         background-color: $disabled-background;
            //         cursor: not-allowed;
            //         // pointer-events: none;
            //         @if $border {
            //             border-color: $disabled-border;
            //         }
            //         @else {
            //             border-color: $disabled-background;
            //         }
            //     }
            // }
        }
    }
}